<div class="container">
  <div class="row">
    <div class="six columns user-details about">
      <!-- <h3>About me</h3> -->
      <div class="image_caption">
        <img src="{{ "/assets/img/headshot.jpg" | prepend: site.baseurl }}" style="width: 220px;">
      </div>
    </div>
    <div class="six columns notUnderlined">
      <h3> Hello, I'm <span style="font-weight:bold; text-transform:cursive; ">Ali.</span></h3>
      <p>I'm a Web Developer in San Francisco. I have one year experience creating responsive websites of good quality. Through a combination of work experience in business and architecture, I have developed an eye for detail and appreciation for design that I believe adds to how I think and view my work. I like to code because I like languages and communication. And I like tools that enable me to make ideas come to life.</p>
      <p>I graduated from UC Berkeley in 2014 and went to live in London for two years where I studied at General Assembly.</p>
      <p class="underline"><a href="mailto:{{site.email}}">Want to work together? I’d love to hear from <span style="text-decoration:underline;">you</span></a></p>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row user">
      <div class="four columns">
        <h4>Design</h4>
        <i class="devicon-html5-plain-wordmark"><a href="https://getbootstrap.com/docs/3.3/"></a></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <p>Responsive Design</p>
        <p>Photoshop</p>
        <p>jQuery</p>
      </div>
      <div class="four columns">
        <h4>Code</h4>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-angularjs-plain colored"></i>
        <i class="devicon-nodejs-plain-wordmark"></i>
        <p>MEAN Stack Web Development</p>
        <p>Test Driven Development</p>
        <p>WordPress</p>
      </div>
      <div class="four columns">
        <h4>Tools</h4>
        <i class="devicon-git-plain"></i>
        <i class="devicon-gulp-plain colored"></i>
        <i class="devicon-atom-original-wordmark"></i>
        <p>Version control</p>
        <p>Task Managers</p>
        <p>Agile</p>
      </div>
    </div>
    <hr>
  </div>
