<div class="container">
  <div class="row">
    <div class="six columns user-details about">
      <!-- <h3>About me</h3> -->
      <div class="image_caption">
        <img class="pic" src="{{ "/assets/img/headshot.jpg"}}" style="width: 220px;">
      </div>
    </div>
    <div class="six columns notUnderlined">
      <h3> Hello, I'm <span style="font-weight:bold; text-transform:cursive; ">Alicia.</span></h3>
      <p>
        A multidisciplinary and diverse background has given me an eye for detail and an appreciatation for design.</p>
      <p class="underline"><a href="mailto:{{site.email}}">Needing help from an enthusiastic junior dev? Look no more! :) I’d love to hear from<span style="text-decoration:underline;">you.</span></a></p>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row user">
      <div class="four columns">
        <h4>Design</h4>
        <i class="devicon-html5-plain-wordmark"><a href="https://getbootstrap.com/docs/3.3/"></a></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-sass-original colored"></i>
        <p>Responsive Design</p>
        <p>Photoshop</p>
        <p>jQuery</p>
      </div>
      <div class="four columns">
        <h4>Code</h4>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-angularjs-plain colored"></i>
        <i class="devicon-nodejs-plain-wordmark"></i>
        <p>MEAN Stack Web Development</p>
        <p>Test Driven Development</p>
        <p>WordPress</p>
      </div>
      <div class="four columns">
        <h4>Tools</h4>
        <i class="devicon-git-plain"></i>
        <i class="devicon-gulp-plain colored"></i>
        <i class="devicon-atom-original-wordmark"></i>
        <p>Version control</p>
        <p>Task Managers</p>
        <p>Agile</p>
      </div>
    </div>
    <hr>
  </div>
