<footer class="footer">
  <div class="container">
    <hr>
    <div class="row contact">
      <div class="four columns">
        <ul>
          <a><span class="fa fa-phone-square"></span> +1(415)342-7279</a><br>
          <a href="mailto:{{site.email}}"><span class="fa fa-envelope-square"></span> hello@aliciapearse.com</a><br>
          <a><span class="fa fa-map-pin"></span> San Francisco, California</a>
        </ul>
      </div>
      <div class="four columns"><p></p></div>
      <div class="four columns">
        <h1><a class="link" href="#header" data-scroll>Alicia <Morales> Pearse</a></h1>
      </div>
    </div>
  </div>
</div>

<div class="row copy">
  <div class="four columns">
    <p></p>
  </div>
  <div class="four columns">
    <!-- <p>&copy; 2017 Alicia Pearse All Rights Reserved</p> -->
  </div>
  <div class="three columns">
    <ul>
      <a href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt"></i></a>
      <a href="https://www.linkedin.com/in/aliciapearse/"><i class="icon fa fa-linkedin"></i></a>
      <a href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter"></i></a>
      <a href="https://stackoverflow.com/users/7206686/ali-pea"><i class="icon fa fa-stack-overflow"></i></a>
    </ul>
  </div>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
