<div class="container">
  <div class="user-details projects">
    <h3>Work</h3>
    </div>
    <div class="row user-projects">

      <div class="six columns images">
        <img alt="mountains" src="{{ "/assets/img/wandergo.jpg" | prepend: site.baseurl }}" style="width:200px; height:200px;; border-radius:100%;"/>
        <p><span class="app_name" style="font-weight:bold;">Wandergo.</span> A travel app built with Ionic 1 and AngularJS. Main objective was for user to be able to login via Facebook, search and book flights via Momondo’s API, reserve hotels via Booking.com and also explore the destination city for activities and restaurants via Foursquare. I help leading this project with one of the lead developers from start to end</p>
        <a class="project-link" href="https://twitter.com/wandergo_app?lang=en">Check it out</a>
      </div>

      <div class="six columns images">
        <img alt="mountains" src="{{ "/assets/img/flowerbx.png" | prepend: site.baseurl }}" style="width:200px; height:200px;"/>
        <p> <span class="app_name" style="font-weight:bold;">Flowerbx.</span> A flower delivery service in London built with Magento 2. Main objective was to maintain and debug across all capabilities, searching, favorites, payment and delivery methods, also update database and enhance design</p>
        <a class="project-link" href="https://www.flowerbx.com/">Check it out</a>
      </div>
    </div>

      <div class="row user-projects">

      <div class="six columns images">
        <img alt="mountains" src="{{ "/assets/img/horse.png" | prepend: site.baseurl }}"style="width:180px; height:180px;"/>
        <p><span class="app_name" style="font-weight:bold;">Horse Scout</span> A Wordpress site for equestrian enthusiasts in the South of England where they can upload photos to buy and sell their horses. My main responsibility was to debug as issues came up, ensure forms were submitting the data properly and uploading new content when needed</p>
        <a class="project-link" href="https://www.horsescout.com/">Check it out</a>
      </div>

      <div class="six columns images">
        <img alt="mountains" src="{{ "/assets/img/dealbuyer.png" | prepend: site.baseurl }}" style="width:210px; height:180px;"/>
        <p><span class="app_name" style="font-weight:bold;">Dealbuyer</span> An e-commerce site built with Magento 1. My responsibilities included working along the lead developer to set up servers and configuring extension modules. I also managed the project by organizing timeliness for the different stages of the project</p>
        <a class="project-link" href="https://dealbuyer.com/">Check it out</a>
      </div>

    </div>
  </div>
