<div class="container">
  <div class="user-details projects">
    <h3> Featured Projects </h3>
  </div>

  <table>

    <tr class="row user-projects">
      <td><img alt="Jimmys" src="{{ "/assets/img/wandergo.jpg" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
      <td><img alt="Flowerbx" src="{{ "/assets/img/dealbuyer.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
      <td><img alt="Dealbuyer" src="{{ "/assets/img/flowerbx.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
      <td><img alt="Wandergo" src="{{ "/assets/img/jimmys.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
    </tr>

    <tr>
      <th>Jimmys</th>
      <th>Flowerbx</th>
      <th>Dealbuyer</th>
      <th>Wandergo</th>
    </tr>

    <tr class="description">
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
        <a class="project-link" href="https://www.jimmysicedcoffee.com/">Check it out</a>
      </td>
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
        <a class="project-link" href="https://www.flowerbx.com/">Check it out</a>
      </td>
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server</p>
        <a class="project-link" href="https://dealbuyer.com/">Check it out</a>
      </td>
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server</p>
        <a class="project-link" href="https://twitter.com/wandergo_app?lang=en">Check it out</a>
      </td>
    </tr>
  </table>

  <table>

    <tr class="row user-projects">
      <td><img alt="Novelist" src="{{ "/assets/img/wandergo.jpg" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
      <td><img alt="Pintage" src="{{ "/assets/img/dealbuyer.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
      <td><img alt="Outdoorsy London" src="{{ "/assets/img/flowerbx.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
      <td><img alt="Mancala" src="{{ "/assets/img/jimmys.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      </td>
    </tr>

    <tr>
      <th>Novelist</th>
      <th>Pintage</th>
      <th>Outdoorsy London</th>
      <th>Mancala</th>
    </tr>

    <tr class="description">
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
        <a class="project-link" href="https://novelist-wdi.herokuapp.com/">Check it out</a>
      </td>
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
        <a class="project-link" href="https://pintage.herokuapp.com/">Check it out</a>
      </td>
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server</p>
        <a class="project-link" href="https://radiant-beach-54059.herokuapp.com/">Check it out</a>
      </td>
      <td>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server</p>
        <a class="project-link" href="https://limitless-peak-31891.herokuapp.com/">Check it out</a>
      </td>
    </tr>
  </table>

    <!-- <div class="row user-projects">

      <div class="three columns images">
        <img alt="mountains" src="{{ "/assets/img/jimmys.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
        <h5> Jimmy's Ice Coffee </h5>
        <ul>
        <li> Wordpress </li>
        </ul>
        <p>  Maintenace of website, content updates and some debugging. </p>
        <a class="project-link" href="https://www.jimmysicedcoffee.com/">Check it out</a>
      </div>

      <div class="three columns images">
        <img alt="mountains" src="{{ "/assets/img/flowerbx.png" | prepend: site.baseurl }}" style="width:220px; height:200px;"/>
        <h5> Flowerbx </h5>
        <ul>
        <li> Magento 2 </li>
        </ul>
        <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
        <a class="project-link" href="https://www.flowerbx.com/">Check it out</a>
      </div>

      <div class="three columns images">
        <img alt="mountains" src="{{ "/assets/img/dealbuyer.png" | prepend: site.baseurl }}" style="width:220px; height:200px;"/>
        <h5> Dealbuyer </h5>
        <ul>
          <li> Magento 1 </li>
        </ul>
        <p> Wandergo is a travel app, built with OAuth protocol, integrating Foursquare, Momondo, Google maps API services that enhance the app's capabilities. App launching soon</p>
        <a class="project-link" href="https://dealbuyer.com/">Check it out</a>
      </div>

      <div class="three columns images">
        <img class="fade" alt="mountains" src="{{ "/assets/img/wandergo.jpg" | prepend: site.baseurl }}" style="width:220px; height:200px;"/>
        <h5> Wandergo </h5>
        <ul>
          <li> Ionic app </li>
        </ul>
        <p> Wandergo is a travel app, built with OAuth protocol, integrating Foursquare, Momondo, Google maps API services that enhance the app's capabilities. App launching soon</p>
        <a class="project-link" href="https://twitter.com/wandergo_app?lang=en">Check it out</a>
      </div> -->

  <!-- </div>
  <div class="row user-projects">

    <div class="three columns images">
      <img alt="mountains" src="{{ "/assets/img/jimmys.png" | prepend: site.baseurl }}"style="width:220px; height:200px;"/>
      <h5> Mancala Game </h5>
      <ul>
      <li> Vanilla JS </li>
      </ul>
      <p>  Maintenace of website, content updates and some debugging. </p>
      <a class="project-link" href="https://www.jimmysicedcoffee.com/">Check it out</a>
    </div>

    <div class="three columns images">
      <img alt="mountains" src="{{ "/assets/img/flowerbx.png" | prepend: site.baseurl }}" style="width:220px; height:200px;"/>
      <h5> Outdoorsy London </h5>
      <ul>
      <li> HTML | CSS </li>
      </ul>
      <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
      <a class="project-link" href="https://www.flowerbx.com/">Check it out</a>
    </div>

    <div class="three columns images">
      <img alt="mountains" src="{{ "/assets/img/dealbuyer.png" | prepend: site.baseurl }}" style="width:220px; height:200px;"/>
      <h5> Pintage </h5>
      <ul>
        <li> AngularJS </li>
      </ul>
      <p> Wandergo is a travel app, built with OAuth protocol, integrating Foursquare, Momondo, Google maps API services that enhance the app's capabilities. App launching soon</p>
      <a class="project-link" href="https://dealbuyer.com/">Check it out</a>
    </div>

    <div class="three columns images">
      <img class="fade" alt="mountains" src="{{ "/assets/img/wandergo.jpg" | prepend: site.baseurl }}" style="width:220px; height:200px;"/>
      <h5> Novelist </h5>
      <ul>
        <li> MEAN Stack </li>
      </ul>
      <p> Wandergo is a travel app, built with OAuth protocol, integrating Foursquare, Momondo, Google maps API services that enhance the app's capabilities. App launching soon</p>
      <a class="project-link" href="https://twitter.com/wandergo_app?lang=en">Check it out</a>
    </div> -->

  <!-- </div> -->
</div>
