<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
        <img class="fade" alt="mountains" src="{{ "/assets/img/wandergo.jpg" | prepend: site.baseurl }}" alt="..."/>
    </div>
    <div class="six columns">
      <h5> Wandergo </h5>
      <ul>
        <li> Ionic app </li>
      </ul>
      <p> Wandergo is a travel app, built with OAuth protocol, integrating Foursquare, Momondo, Google maps API services that enhance the app's capabilities. App launching soon</p>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <h5> Dealbuyer </h5>
      <ul>
        <li> Magento 1 </li>
      </ul>
      <p> Wandergo is a travel app, built with OAuth protocol, integrating Foursquare, Momondo, Google maps API services that enhance the app's capabilities. App launching soon</p>
      <a class="project-link" href="https://dealbuyer.com/">Check it out</a>
    </div>
    <div class="six columns">
      <a href="#" class="thumbnail">
        <img alt="mountains" src="{{ "/assets/img/dealbuyer.png" | prepend: site.baseurl }}"/>
      </a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="#" class="thumbnail">
        <img alt="mountains" src="{{ "/assets/img/flowerbx.png" | prepend: site.baseurl }}"/>
      </a>
    </div>
    <div class="six columns">
      <h5> Flowerbx </h5>
      <ul>
      <li> Magento 2 </li>
      </ul>
      <p> Debugged website for database errors, missing store items, image quality to server timeouts and spining of new server </p>
      <a class="project-link" href="https://www.flowerbx.com/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <h5> Jimmy's Ice Coffee </h5>
      <ul>
      <li> Wordpress </li>
      </ul>
      <p>  Maintenace of website, content updates and some debugging. </p>
      <a class="project-link" href="https://www.jimmysicedcoffee.com/">Check it out</a>
    </div>
    <div class="six columns">
      <a href="#" class="thumbnail">
        <img alt="mountains" src="{{ "/assets/img/jimmys.png" | prepend: site.baseurl }}"/>
      </a>
    </div>
  </div>
</div>
