
$main: #272727;
$sec: #4B5664;
$purple: #54516A;
$pink: #EEE5E9;
$cut: 768px;
$f-title:'Roboto', sans-serif;
$f-body:'Open Sans', sans-serif;
$f-alt:'Montserrat', sans-serif;
$f-brand: 'Oswald', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: $f-body, sans-serif;
  height: 100%;
  overflow: auto;
}

@-webkit-keyframes pulse {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
  50% {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    top: -10px;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
}

@keyframes pulse {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
  50% {
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    top: -10px;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: .4;
    top: 0;
  }
}

#particles-js {
  background: $main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}

.content {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  h1,span .site-title{
    font-family: $f-brand;
  }
  .site-title {
    font-family: $f-brand;
    font-size: 50px;
    font-weight:900;
    display: block;
    line-height: 1;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    font-family: $f-brand;
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
  .link {
    font-family: $f-body;
    color: #FFF;
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

.down {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
    &:hover {
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

.user {
  text-align: center;
  margin: 50px auto;
  font-size: 60px;
  p {
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
  }
  @media only screen and (min-width: $cut) {
    font-size: 75px;
  }
}

//-------About me---------
section#about {
  padding-top: 50px;
  text-align: justify;
}

.user-details.about {
  font-size: 16px;
  // margin: 0 auto;
  // position: relative;
}

.six.image_caption {
  img.pic{
    width: 100%;
    height: auto;
    border-radius: 100%
     // overflow: hidden;
    cursor: pointer;
    position: relative;
    text-align: -webkit-center;
    margin: 0 auto;
    display: block;
    padding-top: 18px;
  }
}
.six.notUnderlined{
  // padding-top: 10px;
}

.notUnderlined {
  // text-transform: uppercase;
  h3{
    text-align: left;
    @media only screen and (max-width: 550px)  {
      text-align: center;
    }
  }
  p{
    margin-bottom: 10px;
    text-align: left;
    @media only screen and (max-width: 550px)  {
      text-align: justify;
    }
  }
  max-width:960px;
  width:100%;
}

.underline {
  // text-transform: uppercase;
  // text-align: justify;
  max-width:960px;
  width:100%;
  padding: 10px 0px;
  a{
    transition:all 0.5s ease;
    display:inline;
    color:$main;
    text-decoration:none;
    font-weight:400;
    padding-bottom:5px;
    background: linear-gradient(to right, rgba(60,196,124,1) 0%,rgba(233,200,147,1) 98%);
    background-size:0px 2px;
    background-repeat: no-repeat;
    background-position:left 85%;
    text-shadow:0;
    &:hover{
      background-size:100% 2px;
    }
  }
}
// ----- Tools, Frameworks -----
// .row.user{
// div.four{
//   padding-bottom: 20px;
//   h4 {
//     margin-top: 5px;
//     margin-bottom:30px;
//     font-size: 28px;
//     i {
//       &:hover{
//       opacity: 0.5;
//       }
//     }
//   }
//   p {
//     text-align: center;
//   }
// }
// }


// ------- Projects------
// h4{
//   font-family: $f-title;
//   text-transform: uppercase;
//   font-size: 18px;
//   font-weight: 400;
// }

h3{
  text-align: center;
}
.six {
  position: relative;
  text-align: left;
  @media only screen and (max-width: 550px)  {
    text-align: justify;
  }
  img{
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.project-link {
  display: block;
  width: 100px;
  margin: 10px 0px;
  padding: 5px;
  color: $main;
  background-color: transparent;
  border: 1px solid $main;
  border-radius: 10px;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
  background-color 0.3s ease-out,
  border-color 0.3s ease-out;
  &:hover {
    background-color: $main;
    border-color: $main;
    color: #fff;
    transition: color 0.2s ease-in,
    background-color 0.2s ease-in,
    border-color 0.2s ease-in;
  }
  &:active {
    background-color: $purple;
    border-color: $purple;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
  }
}

// Footer
.footer {
  background-color: #FFF;
  overflow: hidden;
  padding-top:50px;
  .four {
    padding-bottom: 10px;
    opacity: 0.8;
    font-family: $f-body;
    font-weight: 500;
    margin-bottom: 10px;
    h1, p {
      font-family: $f-title;
      text-align: right;
      color: $main;
      a {
        text-decoration: none;
        color: $main;
        font-weight: bold;
      }
    }
  }
  .row.copy{
    background-color: $main;
    color: #FFF;
    font-size: 12px;
    // overflow: hidden;
    // p{
    //   opacity: 0.6;
    //   margin-bottom: 0px;
    // }
    ul, a {
      text-align: right;
      text-decoration: none;
      color: #FFF;
      padding: 5px;
      i{
        -webkit-animation: pulse 4.3s infinite;
        animation: pulse 4.3s infinite;
        font-size: 25px;
        margin-top: 10px;
        color: #FFF;
        opacity: 0.8;
      }
    }
  }
}
ul{
      margin-bottom: 1rem;
}
a {
  color: $main;
  text-decoration: none;
  &:hover {
    color: $purple;
  }
  &:active {
    color: $main;
  }
}
